@model List<Notice>
<div class="card-body">
    <table class="table">
        <thead>
            <tr class="text-nowrap">
                <th>Id</th>
                <th>Description</th>
                <th>Date</th>
                <th>Created Time</th>
                <th>Updated Time</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Link</td>
                    <td>@item.Date</td>
                    <td>@item.CreatedTime</td>
                    <td>@item.UpdatedTime</td>

                    <td><a asp-controller="notice" asp-action="update" asp-route-id="@item.Id" class="fa-solid fa-pen-to-square"><i></i></a></td>
                    <td><a asp-controller="notice" asp-action="delete" asp-route-id="@item.Id" class="fa-solid fa-trash-can"><i></i></a></td>

                </tr>
            }

        </tbody>
    </table>
    <button style="border: none; color: white; background-color: lightskyblue"><a asp-area="admin" asp-controller="notice" asp-action="create">Create Slide</a></button>
</div>