@using Back_end_Project.ViewModels;
@model TeacherVM

   
<div class="row">
    @foreach (var item in Model.teachers)
    {

        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="single-teacher mb-45">
                <div class="single-teacher-img" style="height: 300px;">
                    <a asp-controller="teacher" asp-action="details" asp-route-id="@item.Id"><img src="~/assets/img/@item.Image" alt="teacher"></a>
                </div>
                <div class="single-teacher-content text-center">
                    <h2><a asp-controller="teacher" asp-action="details" asp-route-id="@item.Id">@item.Fullname</a></h2>
                    <h4>@item.Speciality</h4>
                    <ul>
                        @foreach (var network in item.Networks)
                        {
                            <li><a href="@network.Link">@Html.Raw(@network.Icon)</a></li>

                        }
                    </ul>
                </div>
            </div>
        </div>
    }
</div>